@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Funnel+Display:wght@300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(251, 186, 55);
}
.split {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  background-image: url(https://cdn.pixabay.com/animation/2023/04/06/23/17/23-17-32-365_512.gif);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  height: 780px;
}
.songs {
  display: flex;
  gap: 5px;
  padding-top: 65%;
}

.board {
  position: relative;
  overflow: visible;
  background: #fff;
  margin: 0 100px;
}

.runText {
  position: absolute;
  top: -50px;
  left: -10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 0;
}

.letter {
  position: absolute;
  font-size: 40px;
  font-family: "Exo 2", sans-serif;
  color: black;
  white-space: pre;
  transform-origin: 50% 100%;
}

.info {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 610px;
  height: 770px;
  background-color: rgb(254, 254, 241);
  padding: 1.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  margin-top: 2px;
  font-weight: bold;
  color: rgb(242, 103, 23);
}
a:hover,
#next:hover {
  color: rgb(164, 127, 4);
}
#next {
  font-size: 1.25rem;
  color: rgb(233, 33, 7);
}
