@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url(images/traube.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin-right: 60%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.split {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
h1 {
  color: rgb(245, 245, 245);
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: rgb(245, 245, 245);
}
#lese {
  margin-top: 5px;
  color: rgb(219, 120, 207);
}
#lese:hover {
  color: rgb(11, 18, 228);
}
a {
  text-decoration: none;
  color: rgb(237, 248, 208);
}
a:hover {
  color: rgb(219, 120, 207);
}
.poemPaper {
  flex-basis: 70%;
  width: 100%;
  background-color: rgb(237, 248, 208);
  border-radius: 1rem;
  box-shadow: 10px 20px 20px rgb(27, 26, 27);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poemPaper::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-color: rgb(219, 120, 207) rgb(253, 183, 245);
  border-width: 0;
  border-width: 0 0 44rem 38.5rem;
  border-style: solid;
  transition-duration: 300ms;
  transition-property: border-width, border-radius;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 1s;
  left: 0;
  top: 0;
  border-radius: 0 0 1rem 0;
}

.poemPaper:hover:before {
  transition-duration: 300ms;
  transition-property: border-width, border-radius;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 1s;
  border-width: 0 0 6rem 6rem;
  border-width: 0;
}
.poemPaper::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-color: rgb(219, 120, 207) rgb(253, 183, 245);
  border-width: 0;
  border-width: 5rem 5rem 0 0;
  border-style: solid;
  transition-duration: 300ms;
  transition-property: border-width, border-radius;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 1s;
  left: 0;
  top: 0;
  border-radius: 0 0 1rem 0;
}
.poem {
  padding: 25px 0px;
  padding-left: 140px;
  transition: all 2s;
}
.poem:hover {
  transform: scale(1.15) translateY(35px);
}
h4 {
  margin-top: -3px;
}

.video {
  margin-top: 10%;
  margin-left: -30%;
}
